@{
}
@using Zuber.Services.EFServices;
@inject SingletonUser s

<ul class="navbar-nav">
    @if (s.SignedIn)
    {
        <li class="nav-item">
            <a class="nav-link" asp-page="profile" title="Manage">Hello @s.User.Name!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="Logout">Logout</a>

        </li>
    }
    else
    {
        <li class="nav-item">
               <a class="nav-link"  asp-page="Register">Register</a>
            </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="Login">Login</a>
        </li>
    }
</ul>
<script src="~/js/PartialLogin.js">   </script>
 